body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #F5F5F5;
  text-shadow: 0px 0px 60px black;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexed {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 30%;
}
#recipeForm {
  height: 100vh;
  background-image: url('https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/food/hero-and-hub/food/recipes-hero-1260x600.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
ul li {
  list-style: none;
}
input, select, label, textarea, button {
  margin: 10px;
}
